/*the baord*/
#board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows:  repeat(10, 50px);
}

#container {
    width: 500px;
}

.rows, .columns {
    display: flex;
    align-items: center;
}

.rows {
    flex-direction: column;
    justify-content: space-around;
    padding-right: 10px;
}

.columns {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.cell {
    border: 2px solid #000;
}

.group-board {
    display: flex;
    justify-content: space-around;
}

/*the ships*/
#ship-dock{
    padding: 10px 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#ship-dock > button{
    border: none;
    height: 20px;
    background-color: grey;
}

#ship-dock > button:hover, #ship-dock > button:focus{
    background-color: rgb(88, 88, 88);
}

#carrier{
    width: 100px;
}

#battleship{
    width: 80px;
}

#cruiser, #submarine{
    width: 60px;
}

#destroyer{
    width: 40px;
}
